# Doxyfile 1.8.5
PROJECT_NAME			= Stencil
INPUT					= ../Distribute/Stencil.hpp ../Distribute/mapoverlap.hpp
OUTPUT_DIRECTORY		= doxygen_stencil
OUTPUT_LANGUAGE			= English
QUIET					= NO
WARNINGS				= YES
DISABLE_INDEX			= NO
EXTRACT_ALL				= YES
GENERATE_MAN			= YES
USE_MDFILE_AS_MAINPAGE 	= README.md
